@media (max-width: 1200px){
    .mountains__top{
        display: none;
    }
    .time{
        &__title{
            font-size: 80px;
        }
    }
    .discount{
        &__col{
            height: 641px;
        }
        &__body{
            padding-top: 50px;
            padding-left: 40px;
        }
        &__title{
            font-size: 52px;

        }
    }
    .go{
        &__btn{
            margin-bottom: 105px;
        }
    }
    .mountains{
        &__title{
            margin-top: 87px;
            padding-top: 125px;
        }
        &__inner{
            height: 500px;
            margin: 0 auto;
        }
        &__botton{
            top: 400px;
        }
    }
    .world{
        &__inner{
            height: 700px;
            padding-left: 60px;
        }
        &__title1{
            padding-top: 278px;
            text-align: left;
        }
        &__title2{
            text-align: left;
        }
    }
    .col{
        &__icon{
            margin-top: 50px;
        }
    }
    .contact{
        min-height: 600px;
        padding-top: 184px;
        &__btn{
            right: 19%;
        }
    }
    .footer{
        padding: 58px 70px 85px 80px;
        min-height: 450px;
    }
}
@media (max-width: 991px){
    .time__title{
        font-size: 68px;
    }
    .go{
        &__col{
            width: 309px;
            img{
                width: 100%;
            }
        }
        &__title1{
            padding-top: 30px;
        }
    }
    .discount{
        &__body{
            padding-top: 30px;
            padding-left: 24px;
        }
        &__col{
            height: 500px;
        }
        &__title{
            font-size: 43px;
        }
        &__descr{
            font-size: 25px;
            margin-top: 30px;
        }
        &__btn{
            height: 60px;
            width: 265px;
            font-size: 25px;
            margin: 0 auto;
            margin-top: 29px;
            padding-left: 0px;
            display: block;
        }
    }
    .contact{
        &__btn{
            right: 16%;
        }
    }
}
@media (max-width: 768px){
    .time__body{
        padding: 146px 0 257px 0px;
    }
    .go{
        &__col{
            width: 236px;
        }
        &__title1{
            padding-top: 16px;
            font-size: 26px;
        }
        &__subtitle1{
            margin-top: 13px;
        }
    }
    .discount{
        &__col{
            height: 410px;
        }
        &__title{
            font-size: 32px;
        }
        &__descr{
            font-size: 19px;
        }
    }
    .contact__btn{
        right: 6%;
    }
    .footer{
        padding: 34px 19px 84px 15px;
        a{
            font-size: 15px;
        }
        &__descr1{
            font-size: 15px;
        }
        &__block1{
            max-width: 269px;
            margin-right: 50px;
        }
    }
}
@media (max-width: 577px){
    .col__quate{
        width: auto;
    }
    .time{
        height: 609px;
        padding: 69px 0 257px 0px;
        &__title{
            font-size: 47px;
        }
        &__subtitle{
            display: none;
        }
        &__body{
            padding: 32px 0 257px 0px;
        }
    }
    .go{
        &__title{
            font-size: 48px;
        }
        &__descr{
            font-size: 22px;
            margin-top: 19px;
        }
        &__col1{
            display: block;
            
        }
        &__col{
            margin: 0 auto;
            margin-top: 50px;
            width: 100%;
            padding: 0 10px;
            &:first-child{
                margin-top: 0;
            }

        }
        &__btn{
            margin-bottom: 72px;
        }

    }
    .menu{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0; 
        width: 50%;
        height: 100vh;
        left: -100%;
        background-color: #ffd952ec;
        transition: 0.6s;
        &__link{
            margin-left: 0;
            margin-top: 20px; 
            display: flex;
            flex-direction: column;
            font-size: 24px;
            text-align: center;
            &:first-child{
                margin-top: 20px;
            }
        }
        &__active{
            left: 0;
        }
       
    }

    .header__logo{
        display: none;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
        width: 20px;
        span{
            display: block;
            background-color: black;
            height: 2px;
            width: 26px;
            margin-bottom: 3px;
            transition: 0.5s all;
        }
        
        &__active{
            span{
                margin-bottom: -2px;
                &:first-child{
                    transform: rotate(-45deg);
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: rotate(45deg);
                }
                

            }

        }
        
    
        }   
        .discount{
            &__col{
                display: block;
                margin-top: 40px;
                padding: 0 10px;
                &:last-child{
                    display: flex;
                    flex-direction: column-reverse;
                    
                }
            }
            &__body{
                width: 100%;
                padding-bottom: 20px;
                padding-left: 7px;
            }
            &__img{
                width: auto;
            }
            &__col{
                height: 100%;
            }
        }
        .contact{
            &__form1{
                width: 350px;
            }
        }
        .mountains{
            &__inner{
                height: 400px;
            }
            &__botton{
                display: none;
            }
            &__title{
                padding-top: 30px;
                font-size: 37px;
            }
            &__descr{
                margin-top: 20px;
                font-size: 25px;
            }
        }
        .world{
            &__inner{
                padding-left: 30px;
                height: 600px;
            }
            &__title1{
                font-size: 59px;
                padding-top: 30px;
            }
            &__title2{
                font-size: 59px;
            }
        }
        .col{
            &__column{
                display: block;
            }
            &__col1{
                width: 100%;
            }
            &__icon{
                font-size: 42px;
                margin-top: 25px;
                margin-bottom: 25px;
            }
            &__quate{
                font-size: 23px;
            }
            &__authot{
                margin-top: 40px;
    
            }
        }
        .contact{
            margin-top: 50px;
            padding-top: 43px;
            padding: 35px 0 35px 0;
            &__title{
                font-size: 68px;
            }
            &__descr{
                font-size: 24px;
    
            }
            &__form1{
                width: 340px;  
            }
            &__btn{
                display: block;
                position: relative;
                margin: 0 auto;
                margin-top: 25px;
                transform: translateX(10%);
            }
        }
        .footer{
            padding: 34px 0 84px 0;
            a{
                color: black;
            }
            &__body{
                display: block;
            }
            &__services{
                margin-left: 20px;
            }
            &__other{
                margin-left: 20px;
                
            }
            
        }
    
        
        
    }
    
    
    